/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
}

.container, .tabs, .tab-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    text-align: left;
}

.file-upload-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.custom-file-upload {
    padding: 8px 12px;
    background-color: #17a2b8; /* Buton rengini değiştirdim */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #138496;
}

.inline-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.inline-group label {
    margin-right: 20px;
}

button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

.download-button {
    background-color: red; /* İndirme butonunu yeşil yaptım */
}

.download-button:hover {
    background-color: #218838;
}

.dropdown {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%; 
}

#output, #textPreview {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    min-height: 200px;
    font-family: monospace;
    overflow-y: auto;
    max-height: 400px;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap; /* Satır sonu karakterlerini korur ve metni sarar */
}

#output {
    background-color: #e9f7ef;
}

#textPreview {
    /* Diğer stiller... */
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
    background-color: #f0f8ff;
    white-space: normal; /* Metnin düzgün bir şekilde sarılması için */
}
#textPreview h1, #textPreview h2, #textPreview h3 {
    /* Başlıkların görünümünü ayarlayabilirsiniz */
    margin-top: 20px;
}
#textPreview p {
    /* Paragraflar için stil ayarları */
    margin-bottom: 10px;
}

#previewPanel {
    margin-top: 20px;
    overflow-x: auto; /* Yatay kaydırma özelliği */
}

#previewTable {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; /* Tablo genişliğini belirledim */
}

#previewTable th, #previewTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Metinlerin sığmaması durumunda kaymasını sağlar */
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.tab-button {
    padding: 8px 12px;
    background-color: #6c757d; /* Sekme butonlarını gri yaptım */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.tab-button:hover {
    background-color: #5a6268;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
